.movie-card{
  display:flex;
  margin: 50px;
}

.img-src{
  margin-right: 50px;
  
}

.movie-title{
  font-family:'Times New Roman', Times, serif;
  font-size: 220%; 
}

.movie-content{
  margin-right:80px;
  margin: lem;
  border: 2px solid #a09d9d;
  padding: 50px;
  box-shadow: 10px 10px 5px rgba(61, 61, 61, 0.117);
  width: 50%;
}

.movie-summary{
  font-family:'Times New Roman', Times, serif;
  font-size: 120%;
}

.movie-casting{
  font-family:'Times New Roman', Times, serif;
  font-size: 120%;
}

.movie-categories{
  font-family:'Times New Roman', Times, serif;
  font-size: 120%;
}

.movie-imbd{
  font-family:'Times New Roman', Times, serif;
  font-size: 120%;
}

.movie-age{
  font-family:'Times New Roman', Times, serif;
  font-size: 120%;
}

.movie-runtime{
  font-family:'Times New Roman', Times, serif;
  font-size: 120%;
}